header {
  height: 75px;
  background-color: #03001c;
  display: flex;
  justify-content: center;
}
header div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  box-sizing: border-box;
  margin: 0 10px;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 5px 10px 5px;
  font-weight: 600;
  color: #ffc501;
}
header nav a:hover {
  text-decoration: underline;
  font-size: 1.1em;
  color: #fff;
}
header figure {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #ffc501;
}
header img {
  width: 50px;
  margin-right: 5px;
}
@media (max-width: 740px) {
  header figure {
    font-size: 1em;
  }
  header a {
    font-size: 0.8em;
    padding: 5px;
  }
  .topo-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 460px) {
}
